<p>
  <strong>Author:</strong>
  <%= submission.author %>
</p>

<p>
  <strong>Code:</strong>
  <pre><%= submission.code %></pre>
</p>

<% if submission.pending %>
  <strong>Pending</strong>
<% else %>
  <strong>Output:</strong>
  <pre><%= submission.output %></pre>
<% end %>

<p>
  <%= link_to 'Destroy Submission', [submission.assignment, submission],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
